name: Bottles Pull Request Workflow

on:
  pull_request:
    branches:
      - develop
    types: [ opened, reopened, synchronize ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Send Slack Notification
        if: github.event.action == 'opened' || github.event.action == 'reopened'
        env:
          DATA: |
            {
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "*iOS PR* :bell: <@D07LESGF5NF> <@D07LTKV81L1>"
                  }
                },
                {
                  "type": "section",
                  "fields": [
                    {
                      "type": "mrkdwn",
                      "text": "*Author:*\n${{ github.event.sender.login }}"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "*Title:*\n${{ github.event.pull_request.title }}"
                    }
                  ]
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "*Description:*\n${{ github.event.pull_request.body }}"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "*Pull Request URL:*\n<${{ github.event.pull_request.html_url }}|View PR>"
                  }
                }
              ]
            }
        run: |
          curl -X POST -H 'Content-type: application/json' \
          -d "$DATA" \
          ${{ secrets.SLACK_WEBHOOK_URL }}
